*{
  margin: 0;
}
@font-face{
  font-family: "SFUI Display";
  src: url(../fonts/SFUIDisplay/SFUIDisplay-Regular.otf)
}
body{
  font-family: "SFUI Display";
  font-size: 18px;
}
/* NAVIGATION BAR STYLES START */
.navigation-bar {
  padding: 1.5em 5em;
  background-color: #252e5c;
  display: flex;
}
.nav-container {
  justify-content: flex-end;
  display: inline-flex;
  flex-direction: row;
  padding: 0 0;
  margin-left: auto;
}
.nav-container-responsive{
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 50vw;
  height: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 1;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  /* overflow-y: auto; */
  /* z-index: 10000; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  visibility: hidden;

}
.not-visible{
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.is-visible{
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.close-button{
  background: none;
  border: none;
  font-size: 1.5em;
  position: fixed;
  right: 0;
  top: 0;
  color: #eee;
}
.home-nav{
  display: inline-block;
  padding: 0 0;
}
.home-ele{
  margin: 0 0 !important;
}
.nav-element {
  display: inline-block;
  color: #eee;
  margin: 0 1em;
}
.nav-link{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.responsive-button{
  display: none;
}


@media all and (max-width: 767.98px) {
  .nav-container{
    display: none;
  }
  .responsive-button{
    display: block;
    margin-left: auto;
  }
  .nav-element{
    margin: 1em;
  }
  .navigation-bar {
    padding: 1.5em 2em;
  }
}

/* NAVIGATION BAR STYLES END */
