:root {
    --typeWriterSpeed: 3s;
    --textColor: #EEE5E9;
    --titlesColor: #F1BF98;
    --divBackgroundColor: #08415C;
    --miscColor: #6B818C;
    --miscColor2: #04212F;
    --miscColorRGB: rgb(107, 129, 140, 0.75);
    --mainFont: "AnonymousPro";
}

body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(../img/keyboards.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "SFUI Display";
    src: url(../fonts/SFUIDisplay/SFUIDisplay-Regular.otf);
}

@font-face {
    font-family: "AnonymousPro";
    src: url(../fonts/AnonymousPro/Anonymice\ Nerd\ Font\ Complete\ Mono\ Windows\ Compatible.ttf);
}

.title-style {
    font-family: var(--mainFont);
    font-size: 2em;
    color: var(--titlesColor);
}

.text-style {
    font-family: var(--mainFont);
    font-size: 1.1em;
    color: var(--textColor);
}

/* NAVIGATION BAR STYLES START */
.navigation-bar {
    height: 1em;
    padding: 1.5em 6em;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
}

.nav-container {
    justify-content: flex-end;
    display: inline-flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.not-visible {
    opacity: 1;
    visibility: hidden;
    display: none;
}

.is-visible {
    visibility: visible !important;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5em;
    position: fixed;
    right: 0;
    top: 0;
    color: var(--textColor);
    cursor: pointer;
}

.home-nav {
    display: inline-block;
    padding: 0 0;
}

.home-ele {
    margin: 0 0 !important;
}

.nav-element {
    display: inline-flex;
    color: var(--textColor);
    margin: 0 1.2em;
    height: 3em;
    justify-content: center;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
    font-size: 1em;
    font-family: var(--mainFont);
    display: inline-block;
}

.nav-link i {
    margin-right: 0.5em;
}

.responsive-button {
    display: none;
}

.resume-link {
    border: 1px solid var(--divBackgroundColor);
    border-radius: 5px;
    width: 10em;
    height: 3em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--divBackgroundColor);
}

/* STICKY NAVBAR */

.navigation-bar-scroll {
    height: 4em;
    padding: 0 6em;
    background: var(--miscColorRGB);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
}

@media all and (max-width: 991.98px) {
    .nav-container {
        position: fixed;
        margin: 0 !important;
        padding: 0 0;
        right: 0;
        top: 0;
        width: 50vw;
        height: 100%;
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        visibility: hidden;
        background: rgba(94, 110, 141, 0.9);
    }

    .responsive-button {
        display: block;
        margin-left: auto;
    }

    .nav-element {
        margin: 1em;
    }

    .navigation-bar {
        height: 4em;
        padding: 0 2em;
    }

    .nav-link {
        text-transform: none;
    }
}

/* NAVIGATION BAR STYLES END */

/* PRESENTATION SECTION STYLES START */
.presentation-container {
    height: 90vh;
}

.titles-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.presentation-title {
    font-family: var(--mainFont);
    color: var(--textColor);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-right: 0.2em solid white;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-50%);
    width: 0;
    animation: typing var(--typeWriterSpeed) steps(36, end) 1s forwards,
        blink-caret 750ms steps(28) infinite;
}

.presentation-subtitle {
    margin-top: 2em;
    font-family: var(--mainFont);
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typeWriterSpeed) + 2s) forwards;
    color: var(--textColor);
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.arrow-guide {
    margin-top: 1em;
    font-size: 5em;
    color: #fff;
    animation: fadeInUp 2s ease calc(var(--typeWriterSpeed) + 3s) forwards,
        blink-animation 1500ms calc(var(--typeWriterSpeed) + 4s) infinite;
    opacity: 0;
}

@keyframes blink-caret {
    from {
        border-color: transparent;
    }

    to {
        border-color: var(--titlesColor);
    }
}

@keyframes blink-animation {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media all and (max-width: 991.98px) {
    .presentation-title {
        font-size: 1.25em;
    }

    .presentation-subtitle {
        font-size: 1.25em;
    }
}

/* PRESENTATION SECTION STYLES END */

/* ABOUT SECTION STYLES START */
.about-section {
    padding: 1em 1em;
    height: auto;
    width: 70vw;
    margin: 2em auto;
    background-color: var(--divBackgroundColor);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
}

.about-img-div {
    position: relative;
    z-index: 1;
    height: 100%;
    align-self: center;
    margin: 2em 2em;
    display: flex;
    align-items: center;
}

.about-img {
    width: 100%;
    border-radius: 1%;
}

.img-raised {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.about-description {
    padding: 0em 1em 1em 0;
}

.about-paragrap-text {
    text-align: justify;
    font-size: 0.9em;
}

/* ABOUT SECTION STYLES END */

/* TECNOLOGIES SECTION STYLES START */

.technologies-container {
    padding: 1em 2em 3em 2em;
    height: auto;
    width: 70vw;
    margin: 2em auto;
    background-color: var(--divBackgroundColor);
    border-radius: 10px;
}

.proficiency-level {
    height: 2em;
    background-color: #000;
    margin: 0 auto;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.technologies-grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    align-items: start;
}

.tech-div {
    padding: 0 2em 5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative
}

.tech-div i {
    color: var(--miscColor2);
    padding-bottom: 0.2em;
}

.tech-title {
    font-size: 1.2em;
    margin: 0;
}

.html-title::before {
    content: "HTML5:";
    color: var(--titlesColor);
    font-size: 1.4em;
}

.k-level{
    margin-top: 0;
}

#html .tech-title{
    padding-bottom: 2em;
}

.js-title::before {
    content: "Javascript:";
    color: var(--titlesColor);
    font-size: 1.4em;
}

.css-title::before {
    content: "CSS3:";
    color: var(--titlesColor);
    font-size: 1.4em;
}

.python-title::before {
    content: "Python:";
    color: var(--titlesColor);
    font-size: 1.4em;
}

.other-title::before {
    content: "Honorable mentions:";
    color: var(--titlesColor);
    font-size: 1.4em;
    text-transform: uppercase;
}

#css .fw-popUp-div {
    position: relative;
    width: 25em;
    display: flex;
    justify-content: center;
}

#javascript .fw-popUp-div {
    position: relative;
    width: 25em;
    display: flex;
    justify-content: center;
}

.fw-popUp-div i {
    color: var(--divBackgroundColor);
    display: block;
}

.speech-bubble {
    position: absolute;
    background: var(--titlesColor);
    border-radius: .4em;
    padding: 0em 1em;
    top: 100px;
    left: -10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 39px solid transparent;
    border-bottom-color: var(--titlesColor);
    border-top: 0;
    border-left: 0;
    margin-left: -19.5px;
    margin-top: -39px;
}

.speech-bubble i{
    padding: 0.05em 0.05em;
}

#bootstrap-desc::before{
    content: "Bootstrap: ";
    color: var(--miscColor2);
    text-transform: uppercase
}

#js-framework-div{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
}

#js-framework-div .text-style{
    color: var(--miscColor2);
}

#jquery i{
    font-size: 8em;
}


.framework-text {
    display: block;
    color: var(--divBackgroundColor);
}

.framework-button {
    margin: 1em;
    padding: 1em 1em;
    border-radius: 10px;
    display: block;
    background: var(--miscColor);
    border: none;
    cursor: pointer;
}

.framework-button:after {
    content: "Frameworks"
}

.framework-button:hover:after {
    content: "Click me";
    text-transform: uppercase;
    color: var(--titlesColor)
}

.html-level::after {
    content: "100%";
    color: #000;
    font-family: var(--mainFont);
    font-size: 1.1em;
    text-align: center;
    display: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 2em;
    line-height: 2em;
    display: block;
}

.css-level::after {
    content: "90%";
    color: #000;
    font-family: var(--mainFont);
    font-size: 1.1em;
    text-align: center;
    display: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 90%;
    height: 2em;
    line-height: 2em;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.devicons-css3{
    font-size: 10em;
    /* padding-bottom: 0 !important; */
}

.js-level::after {
    content: "80%";
    color: #000;
    font-family: var(--mainFont);
    font-size: 1.1em;
    text-align: center;
    display: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 80%;
    height: 2em;
    line-height: 2em;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#other-langs {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
}

#other-langs p {
    font-size: 1em;
}

.other-tech-div {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1em;
}

.linux-and-php {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 3;
}

.linux-and-php i{
    color: var(--miscColor2)
}

.linux-and-php .speech-bubble{
    top: 60px;
    left: -10px;
}

.linux-bubble-div .text-style, 
.php-bubble-div .text-style{
    color: var(--divBackgroundColor);
    font-size: 1em;
}

.linux-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 1em;
}

.linux-bubble-div{
    position: relative;
    min-width: 75%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 1em;
}

.linux-bubble-div ul{
    padding-left: 0.5em;
}

.learn-more{
    padding: 0.5em 1em;
    border-radius: 10px;
    display: block;
    background: var(--miscColor);
    border: none;
    cursor: pointer;
}

.learn-more:after {
    content: "Learn more";
    color: var(--textColor);
}

.learn-more:hover:after {
    content: "Click me";
    text-transform: uppercase;
    color: var(--titlesColor)
}

.php-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.php-bubble-div{
    position: relative;
    min-width: 75%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}


.php-title::before {
    content: "PHP: ";
    color: var(--titlesColor);
    font-size: 1.4em;
}

.linux-title::before {
    content: "GNU Linux: ";
    color: var(--titlesColor);
    font-size: 1.4em;
}

.linux-types {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1em;
}

.git-title::before{
    content: "Git and Github: ";
    color: var(--titlesColor);
    font-size: 1.4em;
}

.git-icons{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.git-icons i{
    justify-self: center;
    color: var(--miscColor2)
}

.git .fw-popUp-div{
    position: relative;
    display: flex;
    justify-content: center;
}

.git .fw-popUp-div .text-style{
    color: var(--divBackgroundColor);
    font-size: 1em;
}

.git .learn-more:after{
    content: "Github repositories";
}

.git .learn-more:hover:after{
    content: "Click me";
}


/* fix learn more hover button effect, I do now know why it is not working */

.my-workflow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-workflow .text-style{
    font-size: 1.2em;
}

.my-workflow .learn-more:after{
    content: "My workflow";
    color: var(--titlesColor);
    text-transform: uppercase;
}

.my-workflow .learn-more:hover:after{
    content: "Click me";
}

.my-workflow i{
    color: var(--miscColor2)
}

/* .my-workflow .learn-more::after{ */
/*  */
/* } */

/* TECNOLOGIES SECTION STYLES END */
.projects-section{
    padding: 1em 2em 3em 2em;
    height: 100vh;
    width: 70vw;
    margin: 2em auto;
    background-color: var(--divBackgroundColor);
    border-radius: 10px;
}
